/* 样式初始化文件 */
* {
  margin: 0px;
  padding: 0px;
  /* 移动端一般会设置盒模型为border-box 防止边框和padding撑大盒子超出屏幕宽度出现滚动条 */
  box-sizing: border-box;
  /*移动端a标签按住的高亮背景色 设置透明即可*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
input {
  /* 去除输入框的内外边框 */
  border: 0;
  outline: 0;
}
img {
  /* 去掉图片的边框 */
  border: none;
  /* 去掉图片底部3px的间距 */
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}
/* 清除浮动的公共类 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
body,
html {
  min-width: 992px;
  height: 100%;
}
body {
  background-color: #af956a;
}
#header {
  height: 70px;
  background-color: #020202;
  color: #af956a;
  box-shadow: 3px 3px 5px #af956a;
  text-align: center;
  line-height: 70px;
  display: flex;
}
#header .logo {
  font-size: 50px;
  width: 20%;
}
#header .logo img {
  height: 100%;
}
#header #nav {
  flex: 1;
  font-weight: bolder;
}
#header #nav ul {
  width: 100%;
  display: flex;
  padding: 0 5px;
}
#header #nav ul li {
  width: 25%;
  display: block;
}
#header #nav ul li a {
  color: #af956a;
}
