/* 样式初始化文件 */
* {
  margin: 0px;
  padding: 0px;
  /* 移动端一般会设置盒模型为border-box 防止边框和padding撑大盒子超出屏幕宽度出现滚动条 */
  box-sizing: border-box;
  /*移动端a标签按住的高亮背景色 设置透明即可*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
input {
  /* 去除输入框的内外边框 */
  border: 0;
  outline: 0;
}
img {
  /* 去掉图片的边框 */
  border: none;
  /* 去掉图片底部3px的间距 */
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}
/* 清除浮动的公共类 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
body,
html {
  padding: 0;
  margin: 0;
  min-width: 375px;
  height: 100%;
  width: 100%;
}
body {
  background-color: white;
}
#header {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background-color: #fff;
}
#header .row {
  margin: 0px;
  padding: 0px;
}
#header .logo {
  padding: 0px;
  display: flex;
  height: 100px;
}
#header .logo img {
  height: 100%;
}
#header .logo span {
  font-size: 22px;
  line-height: 100px;
  color: #c9a165;
}
#header .col-md-2 {
  padding: 0px;
  font-size: 22px;
  line-height: 100px;
}
#header .col-md-2 a {
  color: #c9a165;
}
#slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#slider .carousel-inner {
  width: 100%;
}
#slider .carousel-inner img {
  width: 100%;
}
#main {
  width: 100%;
}
#main .picture {
  width: 100%;
}
#main .picture .pictureTitle {
  height: 50px;
  background-color: #0f0f0f;
  width: 80%;
  color: #c9a165;
  font-weight: bolder;
  font-size: 30px;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 10px;
}
#main .picture .row {
  margin: 10px 5px;
}
#main .picture .row .col-md-3 {
  padding: 0px;
}
#main .picture .row .col-md-3 img {
  margin: 5px 0;
  height: 300px;
  width: 95%;
  border: 1px solid #c9a165;
}
#main .video {
  width: 100%;
}
#main .video .videoTitle {
  height: 50px;
  background-color: #0f0f0f;
  width: 80%;
  color: #c9a165;
  font-weight: bolder;
  font-size: 30px;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 10px;
}
#main .video .row {
  margin: 10px 5px;
}
#main .video .row .col-md-3 {
  padding: 0px;
}
#main .video .row .col-md-3 img {
  margin: 5px 0;
  height: 300px;
  width: 95%;
  border: 1px solid #c9a165;
}
