@import "base.less";
#slider {

    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
    }
    .uzi-title {
        color: #522807;
        font-size: 70px;
        text-align: left;
        font-weight: bold;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    .uzi-text{
     
        position: absolute;
        font-size: 16px;
        line-height: 24px;
        color:#522807;
        text-align: left;
        top: 55%;
        left: 15%;
        
    }
}